$color-dark-red: #CF3327;
$color-light-red-1: #ffa29b;
$color-light-red-2: #ff9088;
$section-bg-color: #f7f7f7;
$white-color: #FFFFFF;
$text-color-blue: #2c3e50;
$bg-color-blue: #a8ccff;
$black-text-color: #080e16 ;

// AWS theme colors
$heading-color: #1E293B;
$button-color: #014C8C;
$button-inactive-color: #EFF0FE;
$heading-underline:#014C8C;
$userInfo-bg-color: #EFF0FE;
$explore-bg: #EFF0FE;
$user-img: #F1F5F9;
$primary-tag-bg: #FFFFFF;
$primary-tag-border: #E0E0E0;
$primary-tag-text: #4E5474; 
$secondary-tag-bg: #D4FFD5;
$secondary-tag-border: #E0E0E0;
$secondary-tag-text: #4B5171; 
$user-name-text-color:#014C8C;
$vertical-tabs-left-bg: #EFF0FE;
$vertical-tabs-left-item-bg: rgba(99, 102, 241, 0.15);
$vertical-tabs-left-item-color: #014C8C;
$vertical-tabs-left-icons: #014C8C;
$vertical-tabs-right-header-color: #014C8C;
$light_black:#4B5462;
$active_menu:#393A42;
$off-white:#B4BECE;
$light_grey:#545B65
