:root {
  --bard-color-skeleton-loader-background-1: #f0f4f9;
  --bard-color-skeleton-loader-background-1-rgb: 240, 244, 249;
  --bard-color-skeleton-loader-background-2: #e9eef6;
  --bard-color-skeleton-loader-background-2-rgb: 233, 238, 246;
  --bard-color-skeleton-loader-background-3: #487fed;
  --bard-color-skeleton-loader-background-3-rgb: 72, 127, 237;
}

.QNA {
  position: relative;
  width: 100%;
  height: calc(100% - 15px);
  height: 100%;
  max-height: 500px;
  z-index: 10;
  overflow: hidden;
  /*box-shadow: 0 5px 30px rgba(0, 0, 0, .2);*/
  /* background: rgba(0, 0, 0, .5);*/
  background: transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 0 !important;
  max-height: initial !important;
  background-color: white;
  overflow: hidden;
  // border-radius: 20px !important;

  .message-box-image {
    /* display: flex; */
    /* align-items: flex-end; */
    /* padding: 10px 10px 10px 10px !important; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.14); */
    /* box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.13); */
    padding: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    .message-box {
      display: flex;

      /* align-items: flex-end; */
      align-items: center;
      /* justify-content: center; */
      justify-content: flex-start;
      background-color: #f5f5f5;
      border: 1px solid #ebebeb;
      width: 80%;
      border-radius: 4px;
      padding: 10px 15px;
      box-shadow: rgb(0 0 0 / 56%) 0px 3px 8px;
      height: 50px;
    }
    .message-box::after {
      content: "";
      display: block;
      /* position: relative; */
      /* float: left; */
      /* left: 10px; */
      /* top: -25px; */
      /* width: 800px; */
      height: 0.2px;
      background-color: white;
      z-index: -10;
      border-radius: 0 0 5px 5px;
    }
  }
}
.messages {
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 2px;
  overflow-y: auto;
  background: #ecf0f4;
  padding-top: 15px;
}

@keyframes test {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.messages .messages-content {
  position: absolute;
  top: 0;
  // left: 10%;
  padding: 0 10%;
  height: 100%;
  width: 100%;
  // background: #ECF0F4;
  overflow-y: auto;
  .suggestion {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    //  justify-content: space-around;
    gap: 15px;
    p {
      background-color: #fffbfb;
      padding: 10px;
      border: 1px solid #da6b1d;
      cursor: pointer;
      border-radius: 40px;
      // background: #c4c7c5;
      width: 43%;
      text-align: center;
    }
  }
}
// .messages-content::-webkit-scrollbar {
//   display: none;  /* Safari and Chrome */
// }
.loader-lumiq {
  background: linear-gradient(
    33deg,
    rgba(var(--bard-color-skeleton-loader-background-1-rgb), 0.2) 0,
    rgba(var(--bard-color-skeleton-loader-background-2-rgb), 100) 25%,
    rgba(var(--bard-color-skeleton-loader-background-3-rgb), 100) 50%,
    rgba(var(--bard-color-skeleton-loader-background-2-rgb), 100) 75%,
    rgba(var(--bard-color-skeleton-loader-background-1-rgb), 0.2) 100%
  );
  background-position: 0 0;
  background-size: 200% 100%;
  animation: test 2.15s linear 0s infinite;
}

.loader-lumiq1 {
  background: linear-gradient(
    33deg,
    rgba(var(--bard-color-skeleton-loader-background-1-rgb), 0.2) 0,
    rgba(var(--bard-color-skeleton-loader-background-2-rgb), 100) 25%,
    rgba(var(--bard-color-skeleton-loader-background-3-rgb), 100) 50%,
    rgba(var(--bard-color-skeleton-loader-background-2-rgb), 100) 75%,
    rgba(var(--bard-color-skeleton-loader-background-1-rgb), 0.2) 100%
  );
  background-position: 0 0;
  background-size: 200% 100%;
  animation: test 2.15s linear 0.5s infinite;
}

.loader-lumiq2 {
  background: linear-gradient(
    33deg,
    rgba(var(--bard-color-skeleton-loader-background-1-rgb), 0.2) 0,
    rgba(var(--bard-color-skeleton-loader-background-2-rgb), 100) 25%,
    rgba(var(--bard-color-skeleton-loader-background-3-rgb), 100) 50%,
    rgba(var(--bard-color-skeleton-loader-background-2-rgb), 100) 75%,
    rgba(var(--bard-color-skeleton-loader-background-1-rgb), 0.2) 100%
  );
  background-position: 0 0;
  background-size: 200% 100%;
  animation: test 2.15s linear 0s infinite;
}

.messages .message {
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 20px 20px 20px 0;
  /* background: #eee!important; */
  margin: 8px 0;
  font-size: 14px;
  line-height: 1.4;
  margin-left: 35px;
  position: relative;
  // border: 1px solid #ccc;
}

.messages .message .timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 10px;
  color: #555;
  right: 30px;
}

.messages .message .checkmark-sent-delivered {
  position: absolute;
  bottom: -15px;
  right: 10px;
  font-size: 12px;
  color: #999;
}
.messages .message .checkmark-read {
  color: blue;
  position: absolute;
  bottom: -15px;
  right: 16px;
  font-size: 12px;
}
.messages .message.message-personal {
  float: right;
  /*      background: linear-gradient(120deg, #ddd, #eee);*/
  background: #ffd0af !important;
  // border: 1px solid #EBEBEB;
  border-radius: 10px 10px 0px 10px;
  word-wrap: break-word;
  padding: 10px;
  margin-right: 15px;
  max-width: 70%;
}
.messages .message.message-response {
  float: left;
  margin-left: 15px;
  // border: 1px solid #EBEBEB;
  border-radius: 10px 10px 10px 0px;
  padding: 10px;
  word-wrap: break-word;
  margin-left: 58px;
  max-width: 70%;
  background: #fb8d2f;
  white-space: break-spaces !important;
}

.avatar {
  position: absolute;
  z-index: 1;
  // top: 0px;
  bottom: -20px;
  left: -40px;
  border-radius: 30px;
  width: 24px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
}

.new {
  float: left;
  margin-left: 15px;
  border-radius: 10px 10px 10px 0px !important;
  padding: 10px;
  word-wrap: break-word;
  margin-left: 58px !important;
  max-width: 70%;
  width: 100%;
}

.upload-item {
  // background: #000000;
  color: #f36b1d;
  font-weight: 700;
  // padding: 100px;
  font-size: 30px;
  p {
    padding-bottom: 20px;
    font-size: 30px;
  }
  button {
    background: #000000;
    color: #f36b1d;
    font-weight: 700;
    padding: 5px;
    font-size: 20px;
    width: 30%;
    height: 10%;
  }
  // span{
  //   background: #000000;
  //   color:#F36B1D;
  //   font-weight: 700;
  //   padding: 5px;
  //   font-size: 30px;
  // }
}

:where(.css-dev-only-do-not-override-11xg00t).ant-upload-wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-direction: column;
  .ant-upload-drag {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.02);
    // border: 1px dashed #d9d9d9;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s;
  }
}

:where(.css-dev-only-do-not-override-1kuana8).ant-btn-default {
  font-size: 20px;
  height: 45px;
}

.upload {
  max-height: 75% !important;
  background-color: white !important;
}

.new-chat {
  font-weight: 500;
  margin-top: 20px;
  background: none;
  border-radius: 5px;
  padding: 7px;
  color: rgb(173, 171, 171);
  margin-top: auto;
  // text-align: center;
  p {
    color: rgb(209 213 219);
    padding: 3px;
  }
}
.new-chat:hover {
  color: white;
  background: #424750;
}
